
.DS_Store
*.cmake
*.check_cache
*.log
*.bin
CMakeFiles/Makefile2
CMakeCache.txt
CMakeFiles/3.10.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.out
*.cxx
*.marks
CMakeFiles/TargetDirectories.txt
*.make
*.o
CMakeFiles/yolo_mark.dir/link.txt
CMakeFiles/yolo_mark.dir/depend.internal
CMakeFiles/yolo_mark.dir/CXX.includecache
*.txt
*.txt
*.txt
yolo_mark
linux_mark.sh
Makefile
linux_mark.sh
*.sh
x64/Release/data/img/bird4.txt
x64/Release/data/train.txt
*.data
*.names
*.txt
*.jpg
